body {
    background-color: #fff;
}


.header-container{
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    width: 145px;
    height:31px;
    float: left;
    margin-top: 24px;
}

#secondPart{
    color: black;
    margin-left: -4px;
    font-size: 26px;
    font-family: "Raleway";
}

#secondPartInFooter{
    color:#fff;
    margin-left: -4px;
    font-size: 26px;
    font-family: "Raleway";
}

#firstPart{
    color: #2196F3;
    font-size: 26px;
    font-family: "Raleway";
}

#linksOfHeader{
    width: 600px;
    margin-left: 200px;
}
.contacts{
    width: 400px;
    float: right;
}
.contacts > *{ 
    float: right;
    width: 200px;
}

#linksOfHeader > *{
    width: 100px;
}
header {
    clear: both;
    width: 100%;
    height: 80px;
}
#linksOfHeader > *{
    margin-top: 32px;
}
.contacts > *{
    margin-top: 32px;
}
.stylesofhr{
    color: #ececec;
    border: 1px;
}
.portfolio-btn-container{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 94px;
}
.portfolio-btn-container > *{
    margin-bottom: 50px;
}

.portfolio-btn-container > button{
    padding: 6px 22px 6px 22px;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

.portfolio-text_bottom-figcaption-image-nameproject{
    font-family: var(--main-font);
    font-weight: 700;
    font-family: "Roboto";
    font-size: 18;
    line-height: 2;
    letter-spacing: 0,06em;
    color: #212121;
    margin-left: 24px;
}

.portfolio-text_bottom-figcaption-image-category{
    font-family: "Roboto";
    font-size: 16;
    line-height: 1,875;
    letter-spacing: 0,03em;
    color:#757575;
    margin-left: 24px;
}
.card{
    width: 370px;
    height: 404px;
    border: #eeeeee solid 1px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-img-container{
    display: flex;
    align-items: center;
    margin-left: 5%;
}

footer{
    clear: both;
    width: 100%;
    height: 252px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f303A;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 64px;
}
.footer-items{
    margin-left:215px;
}

.logo-in-footer{
    line-height: 1,174;
    color:#ffffff;
}

.contacts-in-footer{
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1,714;
    letter-spacing: 0,03em;
    color: #fff;
}

.mailAndPhoneInFooter > *{
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1,714;
    letter-spacing: 0,03em;
    color: #7e8b96;
}
.styleOfAddress{
    font-style: normal;
}

.mailInFooter{
    margin-top: 9px;
}

/*======NAVIGATION======*/
.modal-btn:hover,
.modal-btn:focus{
background-color: #7e8b96;
color:#ff4040;

}
.links-color:hover,
.links-color:focus{
    color:#ff4040;
}
/*======END NAVIGATION======*/
  
